# Application
PORT=3000
BASE_URL=http://localhost:3000

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# Storage
UPLOAD_DIR=uploads

# External API (Ana API - Endpoint sonradan verilecektir)
EXTERNAL_API_BASE_URL=http://localhost:5010
EXTERNAL_API_QUOTATION_UPDATE_ENDPOINT=/api/Quotations/:id/pdf-url
